[user]
	email = tammy.faga@loft.com.br
	name = Tammy Faga
[core]
	editor = code --wait
[push]
	followTags = true	
[alias]
	c = !git add --all && git commit -m
	s = !git status -s
	l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
	amend = !git add --all && git commit --amend --no-edit
	count = !git shortlog -s --grep
	local = !git config --local user.email tammyfaga@gmail.com
